section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
    margin-right: 20px;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

a{
    color: rgb(41, 128, 228);
    font-style: italic;
}
footer {
    background-color: rgb(10, 10, 10);
    color: rgb(241, 234, 234);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
   }